
.slider{

    .picture{
        width: 100%;
        height: 600px;
        } 
}
.accordion1{
    margin: 40px 0;
    .container{
        background: #0DCAF0;
        padding: 40px 25px;
    }
        
    
}

.componate{

    .bar{
      margin-left: 550px;  
      margin-top: -80px;
      margin-bottom: 30px;
    }
    .accordion-item .picture:nth-child(3){
      border-top: none;
    }
}

footer p{
    color: #fff;
}